
DEBUG=1
SECRET_KEY=<replace_me>

DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 [::1]

# db
SQL_ENGINE=django.db.backends.postgresql
SQL_DATABASE=<replace_me>
SQL_USER=<replace_me>
SQL_PASSWORD=<replace_me>
SQL_HOST=db
SQL_PORT=5432

# db-admin
SQL_ADMIN_EMAIL=<replace_me>
SQL_ADMIN_PASSWORD=<replace_me>
SQL_ADMIN_PORT=80

# django-allauth
ACCOUNT_EMAIL_CONFIRM_ANONYMOUS_URL='//login'
ACCOUNT_EMAIL_CONFIRM_AUTHENTICATED_URL='//'
ACCOUNT_EMAIL_CONFIRMATION_EXPIRE_DAYS=3
ACCOUNT_EMAIL_VERIFICATION="mandatory"
ACCOUNT_EMAIL_CONFIRMATION_COOLDOWN=180

LOGIN_REDIRECT_URL='//'
ACCOUNT_LOGIN_ATTEMPTS_LIMIT=5
ACCOUNT_LOGIN_ATTEMPTS_TIMEOUT=300
ACCOUNT_LOGIN_ON_EMAIL_CONFIRMATION=0
ACCOUNT_LOGIN_ON_PASSWORD_RESET=0

ACCOUNT_LOGOUT_ON_PASSWORD_CHANGE=0
ACCOUNT_LOGOUT_REDIRECT_URL='//'

ACCOUNT_SIGNUP_REDIRECT_URL='//'

ACCOUNT_USERNAME_MIN_LENGTH=8
SOCIALACCOUNT_EMAIL_VERIFICATION="mandatory"

# mail
EMAIL_ID=<replace_me>
EMAIL_PASSWORD=<replace_me>
EMAIL_PORT=2525
EMAIL_FROM_USER=no-reply@mail.shareit.com