@import "colors";

body {
  height: 100vh;
  margin: 0;
  padding: 0;

  font-family: montserrat;
  background: linear-gradient(120deg, #2980b9, #8e44ad);
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 400px;

  transform: translate(-50%, -50%);
  background: white;
  border-radius: 10px;

  h1 {
    padding: 0 0 20px 0;
    text-align: center;
    border-bottom: 1px solid silver;
  }

  form {
    padding: 0 40px;
    box-sizing: border-box;
  }
}

form {
  .txt_field {
    position: relative;

    margin: 25px 0;
    border-bottom: 2px solid #adadad;

    input {
      width: 100%;
      height: 40px;

      padding: 0 5px;
      font-size: 16px;
      border: none;
      background: none;
      outline: none;
    }

    label {
      position: absolute;

      top: 50%;
      left: 5px;

      color: #adadad;
      transform: translateY(-50%);

      font-size: 16px;
      pointer-events: none;
      transition: 0.5s;
    }

    span::before {
      content: "";
      position: absolute;

      top: 40px;
      left: 0;

      width: 0%;
      height: 2px;

      background: #2691d9;
      transition: 0.5s;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
      -webkit-box-shadow: 0 0 0 30px white inset !important;
      box-shadow: 0 0 0 30px white inset !important;
    }

    input:focus ~ label,
    input:valid ~ label,
    input:-webkit-autofill ~ label {
      top: -5px;
      color: #2691d9;
    }

    input:focus ~ span::before,
    input:valid ~ span::before,
    input:-webkit-autofill ~ span::before {
      width: 100%;
    }

    input:placeholder-shown {
      opacity: 0;
    }
  }

  .cbox_field {
    position: relative;
    margin: 30px 0;

    text-align: center;

    input[type="checkbox"] {
      vertical-align: bottom;
    }
  }
}

.non-field-errors {
  border-radius: 10px;

  color: red;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}

.forgot_pass {
  margin: 20px 0;
  cursor: pointer;
  text-align: center;

  a {
    color: #a6a6a6;

    &:hover {
      text-decoration: none;
    }
  }
}

.sign_in {
  width: 100%;
  height: 50px;

  border: 1px solid;
  border-radius: 25px;

  font-size: 18px;
  font-weight: 700;

  color: #e9f4fb;
  background: #2691d9;

  cursor: pointer;
  outline: none;

  &:hover {
    border-color: #2691d9;
    transition: 0.5s;
  }
}

.signup_link {
  margin: 15px 0;
  text-align: center;
  font-size: 16px;
  color: #666666;

  a {
    color: #2691d9;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

.socialaccount_providers {
  display: flex;
  justify-content: space-evenly;
  margin: 0 60px;
  padding: 0;

  text-align: center;

  font-size: 16px;
  color: #666666;

  list-style: none;

  &__child {
    width: 30px;
    height: 30px;

    border-radius: 100%;
    border: 1px solid #666666;

    &:hover a {
      color: white;
    }

    a {
      text-decoration: none;

      color: #666666;
      line-height: 30px;
      font-size: 20px;
      font-family: "Font Awesome 5 Brands";
    }

    &--facebook::before {
      content: "\f39e";
    }

    &--google::before {
      content: "\f1a0";
    }

    &--github::before {
      content: "\f113";
    }
  }
}
