{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load static %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block extra_head %}
<link href="{% static 'account/css/login.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}

{% get_providers as socialaccount_providers %}

<div class="center">
  <h1>{% trans "Sign In" %}</h1>
  {% if socialaccount_providers %}
  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>
  {% include "socialaccount/snippets/login_extra.html" %}
  {% endif %}

  <p class="signup_link">{% trans "or use your account" %}</p>

  <form class="login" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}

    <div class="txt_field">
      {{ form.login }}
      <span></span>
      <label for="{{ form.login.id_for_label }}">Username or email</label>
    </div>
    <div class="txt_field">
      {{ form.password }}
      <span></span>
      <label for="{{ form.password.id_for_label }}">Password</label>
    </div>
    {% if form.non_field_errors %}
    <div class="non-field-errors">
      {% for err in form.non_field_errors %}
      <p class="form-error">{{ err }}</p>
      {% endfor %}
    </div>
    {% endif %}
    <div class="cbox_field">
      {{ form.remember.label_tag }}
      {{ form.remember }}
    </div>
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}

    <button class="sign_in" type="submit">{% trans "Sign In" %}</button>

    <div class="forgot_pass">
      <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </div>

    <div class="signup_link">
      <p>{% blocktrans %}Not a member? <a href="{{ signup_url }}">Sign up</a>{% endblocktrans %}</p>
    </div>
  </form>
</div>

{% endblock %}