{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load static %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block extra_head %}
<link href="{% static 'account/css/forgot-password.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}

<div class="center">
  <h1>{% trans "Password Reset" %}</h1>
  {% if user.is_authenticated %}
  {% include "account/snippets/already_logged_in.html" %}
  {% endif %}

  <p class="signup_link">
    {% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}
  </p>

  <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
    {% csrf_token %}

    <div class="txt_field">
      {{ form.email }}
      <span></span>
      <label for="{{ form.email.id_for_label }}">Email</label>
    </div>

    <button class="sign_in" type="submit">{% trans "Reset my password" %}</button>
  </form>

  <p class="signup_link">
    {% blocktrans %}Please contact us if you have any trouble resetting your
    password.{% endblocktrans %}
  </p>
</div>

{% endblock %}